footer {
    background-color: #666;
    padding: 20px 0; 
    color: white; /* Цвет текста внутри футера */
    text-align: center; /* Выравнивание текста по центру */
    border-radius: 6px; /* Закругление краев */
}
